on: [push]

jobs:
  hello:
    runs-on: ubuntu-latest
    name: say hello
    steps:
    - name: wow a step
      id: helloo
      uses: pvinis/update-cloudflare-dns-records-action@v0.2
      with:
        zone: „Å≠.co
    - name: step 2
      run: echo sure
